*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-body: #3cbc81;
  --background-card: linear-gradient(114.99deg,
      #471ca9 -0.99%,
      #5736a3 54.28%,
      #4b2a99 78.99%);
  --background-button: #e2e0e4;
  --background-buttonCard: #ebd8ff;
  --background-buttonCardActive: #5cd3a8;
  --button-text: #373737;
}

body {
  background-color: var(--background-body);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
}